<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js sample</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h2>숫자 배열 조작과 구구단 출력</h2>
            <ul>
                <li v-for="(item, index) in myArray">
                    {{ item }}
                    <button v-on:click="modifyNumber(index)">변경</button>
                    <button v-on:click="deleteNumber(index)">삭제</button>
                </li>
            </ul>
            <button v-on:click="addNumber()">추가</button>
            <button v-on:click="sortData()">sort</button>
            <button v-on:click="showGuGu()">구구단 출력</button>
            <ul v-if="show">
                <li v-for="item1 in myArray">
                    <p v-for="item2 in 9">
                        {{ item1 }} x {{ item2 }} = {{ item1 * item2 }}
                    </p>
                </li>
            </ul>
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    myArray: [2,3,4,5,6,7,8,9],
                    show: false
                },
                methods: {
                    modifyNumber: function(index) {
                        this.myArray.splice(index, 1, this.myArray[index] + 1);
                    },
                    deleteNumber: function(index) {
                        this.myArray.splice(index, 1);
                    },
                    addNumber: function() {
                        this.myArray.push(this.myArray.length + 2);
                    },
                    sortData: function() {
                        this.myArray = this.myArray.filter(function(item, idx, array) {
                            return array.indexOf(item) == idx;
                        });
                        this.myArray.sort(function(a,b) {
                            return (a < b ? -1 : 1);
                        });
                    },
                    showGuGu: function() {
                        this.show = true;
                    }
                }
            })
        </script>
    </body>
</html>